#content {
    position: relative;
    top:90px;
    display: grid;
    justify-content: center;
}

#logo {
    width: 272px;
    height: auto;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    padding: 15px;
   
}

#profile-pic {
    border-radius: 50%;
}